<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title>煩悩崩し</title>
  <script>
    let bom = "{{ static_url('g2017/assets/smartphone_selfystick.png') }}";
    let bel = "{{ static_url('g2017/assets/joyanokane.png') }}";
    let bar = "{{ static_url('g2017/assets/bou.png') }}";
    let gas = "{{ static_url('g2017/assets/gashi_gasyou.png') }}";
    let bse = "{{ static_url('g2017/assets/kane.mp3') }}";
  </script>
  <script src="{{ static_url('phina.js') }}"></script>
  <script src="{{ static_url('g2017/main.js') }}"></script>
</head>
<body></body>
</html>
